{% extends 'main/index.html' %}

<title>Задолженности | Университет</title>

{% block content %}
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5 class="card-title">Список задолженностей:</h5>
            <table class="table table_sm">
                <tr>
                    <th>Предмет</th>
                    <th>Курс</th>
                    <th>Дата</th>
                    <th>Балл</th>
                    <th>Тип оценивания</th>
                </tr>

                {% for i in debt %}

                <tr>
                    <td>{{i.0}}</td>
                    <td>{{i.1}}</td>
                    <td>{{i.2}}</td>
                    <td>{{i.3}}</td>
                    <td>{{i.4}}</td>
                </tr>

                {% endfor %}

            </table>
        </div>
    </div>
</div>
{% endblock content %}